.link{
cursor:default;
text-decoration:none;
color:black;
font-size:8pt;
font-family:verdana;
padding:3px;
}

.normtext{
color:black;
font-size:8pt;
font-family:verdana;
font-weight:bold;
padding:3;
}

#conmenu {
cursor:default;
position:absolute;
top:0px;
left:0px;
visibility:hidden;
background-color:lightgrey;
layer-background-color:lightgrey;
border:outset 2px;
font-size:8pt;
font-family:verdana;
font-weight:normal;
color:#00436e;
width:150px;
padding:1 2 0 2;
z-index:2;
}

#conshadow{
position:absolute;
top:0px;
left:0px;
visibility:hidden;
background-color:black;
layer-background-color:black;
z-index:0;
}

body{
background-color:white;
font-size:10pt;
font-family:sans-serif;
color:#00436e;
}